__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.DS_Store

# data & artifacts (large)
data/
results/
wandb/
*.pt
*.pth
*.ckpt
*.log
saved_models/
saved_results/

# but keep small metadata
!data/.gitkeep
!results/.gitkeep
